h1 {
    text-align: center;
    font-family: "Plaster", cursive;
}

.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    flex-direction: row;
    height: 400px;
    min-height: auto;
    min-width: auto;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid black;
    margin-bottom: 20px;
    font-family: "Candal", sans-serif;
    font-size: 20px;

}

.round-results {
    display: flex;
    height: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Candal", sans-serif;
}

.game-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 70px;
    flex-wrap: wrap;
   
    
}

.game-buttons button {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 5px;  
    cursor: pointer;
    background-color: white;
}

.score {
    display: flex;
    align-items: flex-start;
}

.player {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.computer {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    border-left: 3px solid black;
}

.player-score {
    display: flex;
}

.computer-score {
    display: flex;
}

img {
    height: 150px;
    width: 150px;
}
